html {
    background-color: black;
    color: white;
}

#finalAnswer {
    font-size: 100px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: auto;
}

#buttonContainer {
    width: auto;
    display: flex;
    justify-content: center;
}

.buttons {
    background-color: black;
    border: white 1px solid;
    color: white;
    font-size: 20px;
    outline: none;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.buttons:hover {
    background-color: grey;
}

.buttons:active {
    border: darkgray 1px solid
}